html {
    margin: .625rem;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-style: normal;
    font-size: 1.65rem;
}

button {
    background-color: transparent;
    color: #000;
    border: .1em solid #000;
    border-radius: 30px;
    padding-top: .2rem;
    padding-bottom: .2rem;
    padding-left: .5rem;
    padding-right: .5rem;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-style: normal;
    font-size: .7em;
}

.green {
    color: #138B00 !important;
}
.blue {
    color: #1100CF !important;
}
.yellow {
    color: #FAB400 !important;
}
.red {
    color: #DF0000 !important;
}
.purple {
    color: #8F00B2 !important;
}
.gray {
    color: #9E9CBA !important;
}

/* landing page */

.intro {
    display: flex;
    justify-content: space-between;
}

.description {
    width: 85%;
}

#bttnYear {
    background-color: #DF0000;
}

.year {
    margin-bottom: 1em;
}

.medium {
    margin-bottom: 1em;
}

img {
    max-height: 18vw;
    margin-right: .625rem;
}

a:link{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
a:focus{
    text-decoration: none;
}
a:active{
    text-decoration: none;
}

.imgcontainer {
    overflow: hidden;
}

.ecflex {
    margin-top: .5em;
}

.by-year {
    margin-top: .5em;
}

.by-medium {
    display: none;
}

.footer-flex {
    display: flex;
    justify-content: space-between;
    border-top: .1em solid #000;
    padding-top: .5em;
    font-size: .7em;
}

@media only screen and (max-width: 800px) {
    html {
        font-size: 1.25rem;
    }

    .imgcontainer {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
    }

    img.image {
        width: 100%;
        height: auto;
        object-fit: contain;
        max-height: calc(100vh - 2rem); /* Adjust the value if needed */
    }
}

/* parsons x ibm*/

.subpage-intro {
    display: flex;
    justify-content: space-between;
}

.subpage-text {
    width: 88vw;
}

.preview {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: .625rem;
}

.lol {
    width: 80vw;
    margin-top: 1rem;
}

.lol video {
    
    width: 100%;
}
.first {
    margin-top: 2.5rem;
}

.wow {
    margin-top: .625rem;
    margin-bottom: .625rem;
}

.subpage-tag-flex {
    display: flex;
    margin-bottom: .625rem;
}

.tag {
    width: 50vw;
}