html {
    background-color: blue;
    color: white;
    margin: 2vw;
}

body {
    font-size: 5vw;
}

a:link{
    color: aquamarine;
    text-decoration: none;
}
a:visited{
    color: aquamarine;
    text-decoration: none;
}
a:hover{
    color: aquamarine;
    text-decoration: none;
}
a:focus{
    color: aquamarine;
    text-decoration: none;
}
a:active{
    color: aquamarine;
    text-decoration: none;
}