.videobg {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    margin: -8px;
    overflow: hidden;
    z-index: -1;
}

.video {
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
    opacity: 10%;
}

html {
    background-color: #DF8F39;
}

@font-face {
    font-family: "Exposure50";
    src: url("../font/ExposureTrial[-50].otf");
}

div {
    font-family: "Exposure50";
    font-weight: 397;
    font-size: 16px;
    color: #f5f5f5;
}

.text {
    width: 500px;
    height: auto;
}

.space {
    width: auto;
    height: 5vw;
}

.paul {
    animation: appear 0s 5.5s forwards;
    opacity: 0;
    color: #FFF37A;
}

@keyframes appear {
    to {opacity: 1; }
}

a:link{
    color: #FFF37A;
    text-decoration: none;
}
a:visited{
    color: #FFF37A;
    text-decoration: none;
}
a:hover{
    color: #FFF37A;
    text-decoration: none;
}
a:focus{
    color: #FFF37A;
    text-decoration: none;
}
a:active{
    color: #FFF37A;
    text-decoration: none;
}

span {
    color: #FFF37A;
    animation: flicker 3s linear infinite;
}

@keyframes flicker {
    0% {
        opacity: .5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
