/* mobile version*/

html {
    background: #162411;
    color: #B1FF74;
    background-size: 18px 18px;
    background-image:
    linear-gradient(to right, #243A1E .5px, transparent 1px),
    linear-gradient(to bottom, #243A1E .5px, transparent 1px);
}

div {
    font-family: neue-haas-grotesk-display, sans-serif;
    padding: 20px;
}

.title {
    display: grid;
    grid-template-columns: 4fr 1fr;
    font-size: 2.5rem;
    line-height: 98%;
    font-weight: 500;
    border-bottom: #B1FF74 1px solid;
}

.nopad {
    padding: 0;
}

.circlesub {
    display: none;
}

.subtitle {
    font-family: freight-big-pro, serif;
    font-style: italic;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 90%;
}

.space {
    height: vw;
}

.twostar {
    position: absolute;
    top: 630px;
}

.solidstar {
    position: absolute;
    top: 780px;
    left: 60px;
}
.h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 2.8rem;
    line-height: 98%;
}

.day {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: -0px;
}

.daytable {
    display: flex;
    border-bottom: #B1FF74 1px solid;
    align-items: center;
    justify-content: left;
}

.top {
    border-top: #B1FF74 1px solid;
}

.bottom {
    border-bottom: #B1FF74 1px solid;
}

span {
    font-style: italic;
    font-weight: 450;
    color: #24421A;
}

/* desktop version */
@media only screen and (min-width: 800px) {
    html {
        background-size: 24px 24px;
        background-image:
        linear-gradient(to right, #243A1E .5px, transparent 1px),
        linear-gradient(to bottom, #243A1E .5px, transparent 1px);
    }

    body {
        display: flex;
        flex-direction: row;
    }

    div {
        padding: 30px;
    }

    .title {
        display: block;
        border-bottom: none;
        font-weight: 450;
        font-size: 7.5rem;
        line-height: 98%;
    }

    .nopad {
        padding:0;
    }

    .circlesub {
        display: block;
    }

    .bigcircle {
        position: absolute;
        width: 413.18px;
        height: 162.71px;
        left: 288px;
        top: 36vw;
        transform: rotate(10.16deg);
        background: #B1FF74;
        border: 1px solid #162411;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .circletitle {
        font-family: neue-haas-grotesk-display, sans-serif;
        font-style: normal;
        font-weight: 450;
        font-size: 1.875rem;
        color: #162411;
        text-align: center;
    }

    .smallcircle {
        position: absolute;
        width: 213.18px;
        height: 82.71px;
        left: 10vw;
        top: 47vw;
        transform: rotate(-10.16deg);
        background: #162411;
        border: 1px solid #B1FF74;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        line-height: 98%;
    }

    .circletext {
        font-size: 1.25rem;
        text-align: center;
    }

    main {
        position: absolute;
        width: 100vw;
        height: 10vh;
        left: 0;
        top: 0;
        display: flex;
    }

    main section {
        text-align: left;
        flex-grow: 1;
        height: 100vh;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .header {
        width: 73.3vw;
        border-right: #B1FF74 1px solid;
    }

    .subtitle {
        display: none;
    }
    .one {
        display: none;
    }
}
