html {
    background-color: #000AFF;
    color: #BFD5EF;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 600;
    font-style: normal;
}

body {
    max-width: 100vw;
    max-height: 100vh;
}

button {
    background: none;
    border: none;
    margin: 0;
    color: #BFD5EF;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1rem;
}

button:focus {
    background-color: #BFD5EF;
    color: #000AFF;
}

/* website css */

.header {
    margin: 1.25rem;
    max-width: 100vw;
    max-height: 100vh;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.title {
    width: 21rem;
}

.viewing-guidelines {
    position: absolute;
    bottom: 1.25rem;
}

#oy {
    max-width: 3.75rem;
}

.vg {
    max-width: 7rem;
}

.oyster {
    animation: rotate 10s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
      to {
        transform: rotate(360deg);
    }
}


/* ------------------- nav popup ----------------------*/

.popup {
    /* setup popup setting for all popups */
    border: 2px solid #BFD5EF;
    background:#000AFF;
    padding: 1.25rem;
}

#nav-popup {
    /* specific settings for navigation */
    max-width: 45vw;
    height: fit-content;
    max-height: 35vw;
    overflow: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: none;
    scrollbar-color: #BFD5EF #000AFF;
}

.close {
    width: 1rem;
}

.popup-title-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-flex {
    display: flex;
    justify-content: space-between;
    padding-right: 1.25rem;
}

.dt-line {
    border: .5px dashed #BFD5EF;
    max-width: 9.25rem;
    transform: rotate(90deg);
}

.line {
    border: .5px solid #BFD5EF;
    margin-top: 1rem;
}

.text {
    display: none;
    font-weight: 500;
}

.annotate {
    font-size: .75rem;
    text-align: center;
}

.img {
    width: 100%;
    height: auto;
}


/* ------------------- viewing guidelines popup ----------------------*/

#vgpopup {
    max-width: 45vw;
    max-height: fit-content;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: none;
}

.vgflex {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.vgcolumn {
    max-width: 10vw;
}

#discover {
    background: #BFD5EF;
    border: 1px solid #BFD5EF;
    border-radius: 10em;
    color: #000AFF;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1rem;

    position: absolute;
    right: 1.25rem;
    bottom: 1.25rem;
}

@media only screen and (max-width: 800px) {
    #vgpopup {
        max-width: 30vw;
    }
    
    .vgflex {
        flex-direction: column;
    }

    .vgcolumn {
        max-width: 30vw;
    }
}

/* -------------------links-------------------- */

a:link{
    color: #BFD5EF;
    text-decoration: underline;
}
a:visited{
    color: #BFD5EF;
    text-decoration: underline;
}
a:hover{
    color: #FFE600;
    text-decoration: none;
}
a:focus{
    color: #FFE600;
    text-decoration: none;
}
a:active{
    color: #BFD5EF;
    text-decoration: none;
}

/* --------------------------- Discover Data page ------------------------ */

.searchbar {
    margin: 1.25rem;
}

#searchInput {
    width: 93vw;
    max-width: 23vw;
    background-color: #BFD5EF;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1rem;
    color: #000AFF;
    border: none;
}

.filtersystem {
    margin: 1.25rem;
    width: 21rem;
}
.filter {
    background: #000AFF;
    border: 1px solid #BFD5EF;
    border-radius: 10em;
    color: #BFD5EF;
}

.tableone {
    position: absolute;
    top: 0;
    padding: 1.25rem;
    right: 1.25rem;
    width: 60vw;
    height: fit-content;
    z-index: -10;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.tableone div {
    width: 50vw;
}

.titletable {
    text-decoration: underline;
}